<div>
    <h1 class="text-3xl font-bold mb-4 mt-4 mr-auto ml-auto text-center">Quiz Maker</h1>
    <div class="flex">
        <select id="categorySelect" [(ngModel)]="selectedCategory" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm block w-full p-2.5 ">
        <option [ngValue]="null">Select a category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <select id="difficultySelect" [(ngModel)]="selectedDifficulty" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  block w-full p-2.5 ">
        <option [ngValue]="null">select difficulty</option>
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</option>
        </select>
        <button 
        id="createBtn" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium  text-sm p-2.5 disabled:bg-blue-300" 
        [disabled]="selectedCategory === null || selectedDifficulty === null"  (click)="onCreateQuiz()">Create</button>
    </div>
</div>